<% provide(:title, @user.name) %>

<div class="container">
  <%= hidden_field_tag :pathname, user_path %>

  <%# jsで画面表示を変更する用%>
  <% if accessed_user_logged_in?(@user)%>
    <%= hidden_field_tag :accessed_user_logged_in_flg, "0" %>
  <% else %>
    <%= hidden_field_tag :accessed_user_logged_in_flg, "1" %>
  <% end %>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= link_to @user.name, user_show_detail_path, remote: true %>
        </h1>
      </section>
    </aside>
    <div class="col-md-8">
    </div>
  </div>
  <div id="user-modal" class="modal fade" tabindex="-1"></div>
  <div id="calendar"></div>
  <%= render "activity_histories/act_history_input_modal" %>
</div>
